<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Glymps</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-8903504332568566~5560972423</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1IjoiZ2x5bXBzIiwiYSI6ImNrM2J0YXpsdDBzZ3AzZHBkNnV0b2t4MnUifQ.TnR9UQ-zIj46aBWAv3GMpg</string>
	<key>NSCameraUsageDescription</key>
	<string>Glymps allows you to take pictures and share them with others.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Glymps needs your location at all times so others can see and message you from the main deck.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Glymps needs your location at all times so others can see and message you from the main deck.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Glymps needs your location at all times so others can see and message you from the main deck.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Glymps allows you to take videos and share them with others.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Glymps allows you to choose photos and videos from your library and share them with others.</string>
	<key>NSContactsUsageDescription</key>
	<string>Glymps allows you to send your shareable link to your friends.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Welcome</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
